{% extends "admin/base.html" %}
{% block title %}Verify OTP{% endblock %}
{% block content %}
<div class="auth-box card fade-in-up">
    <h2>Verify OTP</h2>
    <form method="POST" action="/verify-otp">
        <div>
            <label>Enter OTP:</label>
            <input type="text" name="otp" required>
        </div>
        <div>
            <label>Create Password:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Verify & Register</button>
    </form>
</div>
{% endblock %}
